.breadcrumbs {
  font-family: $text;
  width: 100%;
  .cdalr-breadcrumbs-you-are-here {
    color: $yelo-color-black;
    font-size: calculate-rem(10px);
  }
  .cdalr-breadcrumbs-items {
    color: $yelo-color-gray-normal;
    font-size: calculate-rem(12px);
    a {
      color: $yelo-color-gray-normal;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      white-space: nowrap;
      @include font-awesome($fa-angle-right, $yelo-color-black, calculate-rem(12px), 4px);
      @include padding-block-width(4px);
      &:last-child {
        color: $yelo-color-black;
        a {
          color: inherit;
          font-size: inherit;
          @include first-color-stripe;
          @include padding-small-block-height;
          @include padding-small-block-width;
        }
      }
    }
  }
}
