

// Portlet d'accès aux services Compte Unique ------------------ //

.services {

  // background-color: $yelo-color-gray-lightest;
  @include border-radius-bottom-left(0);

  margin-bottom: 0;

  #deplacements {

    margin-bottom: 0;

    &:after {
      content: ".";
      opacity: 0;
    }

    ul {
      padding-top: 20px;
    }


          div.elementNav {
            text-align: center;
            max-width: 50%;
            min-width: 50%;
            float: left;
            position: relative;
            z-index: 0;
            margin-bottom: 80px;

            @media (min-width: 768px) {
              margin-bottom: 20px;
              min-width: 25%;
            }



            > div.picto {
              position: relative;
              width: 90px;
              display: block;
              margin: 0 auto;
              float: none;
              overflow: visible;

              /* picto retirer blanc */
              a.moins {
                display:none;
                width: 21px;
                height: 21px;
                background: find-img("moins.png") no-repeat;
                position: absolute;
                top: 70px;
                right: 0;
                z-index: 3;
              }

              a {
                display: block;
                color: #000;
                text-decoration: none;

                > div {
                  position: relative;
                  height: 90px;
                  width: 90px;
                  margin: 0 0 8px 0;

                  &#picto-bus {
                    background: find-img("picto-bus.svg") no-repeat center center;
                  } 
                  &#picto-velo {
                    background: find-img("picto-velo.svg") no-repeat center center;
                  }
                  &#picto-alerte {
                    background: find-img("picto-alerte.svg") no-repeat center center;
                  }
                  &#picto-voiture {
                    background: find-img("picto-voiture.svg") no-repeat center center;
                  }
                }

                span.texte {
                  padding-top: 10px;
                  line-height: 1.1rem;
                  display: block;
                }
              }


              /****************************/
              /*           TOOLTIP        */
              /****************************/
              .tooltip {
                z-index: 1000;
                font-size: 0.9rem;
                line-height: 1rem;
                top: auto;
                bottom: 0;
                @include opacity(100);
              }
              .tooltip-inner {
                color: #000;
                white-space: nowrap;
              }
            }



            /**** Le service n'est pas activé ****/
            > div.pictoOff {           
              /* picto ajout jaune */
              .plus {
                position: absolute;
                top: 70px;
                right: 0;
                z-index: 3;
              }
            }
            
            a > div {
              /* gros filet */
              &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                height: 90px;
                width: 90px;
                box-shadow: 0 0 0 8px rgba(255,255,255,1);
                
                @include border-radius(50%);
                
                -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
                -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
                transition: transform 0.2s, box-shadow 0.2s;
              }
              
              /* fond blanc */
              &:after {
                content: "";
                position: absolute;
                z-index: -1;
                top:0;
                left: 0;
                height: 90px;
                width: 90px;
                
                @include border-radius(50%);
                
                -webkit-transition: -webkit-transform 0.2s, background 0.2s;
                -moz-transition: -moz-transform 0.2s, background 0.2s;
                transition: transform 0.2s, background 0.2s;
              }
            }
            
            /***** Effets *****/
            a:hover > div {
              &:after {
                background: #fff;
                
                -webkit-transform: scale(0.90);
                -moz-transform: scale(0.90);
                -ms-transform: scale(0.90);
                transform: scale(0.90);
              }
              &:before {
                box-shadow: 0 0 0 8px rgba(255,255,255, 0.85);
                
                -webkit-transform: scale(1.20);
                -moz-transform: scale(1.20);
                -ms-transform: scale(1.20);
                transform: scale(1.20);
              }
            }
            
            
            /****************************/
            /*      TOOLTIP JAUNE       */
            /****************************/
            .tooltip {
              &.bottom .tooltip-arrow {
                border-bottom-color: $yelo-first-color;
              }
            }
            .tooltip-inner {
              background-color: $yelo-first-color;
            }
          }

                    /**** Le service est activé ****/
          > div.pictoOn {
            .plus {
              display:none;
            }
            a > div {
              /* gros filet */
              &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                height: 90px;
                width: 90px;
                box-shadow: 0 0 0 8px rgba(255,221,0,1);
                
                @include border-radius(50%);
                
                -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
                -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
                transition: transform 0.2s, box-shadow 0.2s;
              }
              
              /* fond jaune */
              &:after {
                content: "";
                position: absolute;
                z-index: -1;
                top:0;
                left: 0;
                height: 90px;
                width: 90px;
                background: $yelo-first-color;
                box-shadow: 0 0 0 8px rgba(255,221,0, 1);
                
                @include border-radius(50%);
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                border-radius: 50%;
                
                -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
                -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
                transition: transform 0.2s, box-shadow 0.2s;
              }
            }
            
            /***** Effets *****/
            a:hover {             
              > div {
                &:after { 
                  box-shadow: 0 0 0 1px rgba(255,221,0, 0);

                  -webkit-transform: scale(0.90);
                  -moz-transform: scale(0.90);
                  -ms-transform: scale(0.90);
                  transform: scale(0.90);
                }
                &:before {
                  box-shadow: 0 0 0 8px rgba(255,221,0, 0.85);
                  
                  -webkit-transform: scale(1.20);
                  -moz-transform: scale(1.20);
                  -ms-transform: scale(1.20);
                  transform: scale(1.20);
                }
              }
            }
            &:hover {
              .moins {
                display:block;
              }
            }
            
            
            /****************************/
            /*      TOOLTIP BLANC       */
            /****************************/
            .tooltip {
              &.bottom .tooltip-arrow {
                border-bottom-color: #fff;
              }
            }
            .tooltip-inner {
              background-color: #fff;
            }
          }

  }
}

// Portlet pour les liens directs collés aux services Compte Unique ------------------ //
#directs {

  background-color: $yelo-color-gray-lighter;

  margin-bottom: 0;
  margin-top: 0;
  @include border-radius-bottom-left($yelo-border-radius);

  // @media (min-width: 768px) {
  //   margin-bottom: 30px;
  //   margin-top: 30px;
  // }

  header {
    &:not(:first-child) {
      background-color: $yelo-color-white;
    }
    border: 0;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0;
    padding-left: 8px;
    padding-right: 8px;
    h4 {
      font-family: $openB;
      margin-bottom: 0;
      margin-top: 0;
      @include padding-medium-block-height;
    }
  }

  .wrapper-links {
    // @include padding-medium-block-width;
    background-color: $yelo-color-white;
    margin-left: 4px;
    margin-right: 4px;
    // margin-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    ul {
      margin-bottom: 0px;
      li {
        @include padding-medium-block-height;

        &:not(:first-child) {
          border-top: 1px solid $yelo-color-gray-lighter;
        }
      }
    }
    a {
      font-family: $openB;
      font-size: 14px;
    }
  }

  // .services li {
  //   box-sizing: border-box;
  //   padding: 1em;
  //   margin: 0 auto;
  //   width: 25%;
    
  //   div.circle {
  //     float: left;
  //     line-height: 1em;
  //     margin-top: -0.5em;
  //     padding-top: 50%;
  //     text-align: center;
  //     width: 100%;
  //   }
  //   div.circle-img {
  //     background: $yelo-first-color;
  //     font-size: 2em;
  //     height: 0;
  //     padding-bottom: 100%;
  //     text-align: center;
  //     width: 100%;
  //     @include border-radius(50%);
  //   }
  //   div.circle-txt {
  //     font-family: $openB;
  //     font-size: 1rem;
  //     line-height: 1rem;
  //     padding-top: 0.4rem;
  //     text-align: center;
  //   }
  // }
  // a {

  // }
}


// ------------------ //
// ------------------ //
// ------------------ //
// ------------------ //
// ------------------ //



  footer.primary {
    background-color: $yelo-first-color;
    height: 30px;
    line-height: 2rem;
    position: relative;
    @include bg-stripe;
    @include border-radius-bottom-left($yelo-border-radius);
    @include padding-medium-block-width;
    a {
      font-size: 11px;
      text-transform: uppercase;
    }
    a.btn-yelo {
      background-color: $yelo-color-black;
      bottom: 0;
      color: $yelo-color-white;
      font-family: $openB;
      font-size: 18px;
      position: absolute;
      right: 20px;
      text-transform: none;
      @include padding-medium-block-width;
      @include padding-medium-block-height;
      @include border-radius-top($yelo-border-radius);
      &:hover {
        text-decoration: none;
      }
    }
  }




body {
  // background-color: green;
  background-color: $yelo-color-white;
  // background-color: $yelo-color-gray-lightest;
  // @include bg-stripe;
}

@media (max-width: 767px) {

  // Padding to set content in a bit
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#wrapper,
.footer-page .content {
  @include padding-medium-block-width;
}

.block-primary,
.block-quick {
  background-color: $yelo-color-white;
}



.footer-page {
  margin-top: 40px;

  .walk {
    background-image: find-img("bg-yelo-bike-walk.png");
    // background-repeat-x: repeat;
    background-repeat: no-repeat;
    background-position-x: right;
    height: 53px;
  }

  .demarcation {
    background-color: $yelo-color-gray-lighter;
    border-bottom: 1px solid $yelo-color-white;
    border-top: 1px solid $yelo-color-white;
    height: 8px;
  }

  .content {
    background-color: $yelo-color-gray-harder;
  }

  .container {
    
    color: $yelo-color-gray-lightest;
    // @include padding-medium-block-width;
    // @include padding-large-block-height;
    a {
      color: inherit;
      font-size: 11px;
      text-transform: uppercase;
    }
    address {
      font-size: 12px;
      text-align: right;
    }
    
  }

  // .fa {
  //   font-size: 14px;
  // }
  // .row > .span4 {
  //   border-right: 4px solid $yelo-color-gray-lightest;
  // }
}



.logo-cda {
  text-align: right;
}


ul.list-delimited-light {
  // margin: 0;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
  > li {
    @include padding-medium-block-width;
    @include padding-large-block-height;
    margin: 0;
    background-color: $yelo-color-white;
    // @include li-alternate-color ($yelo-list-color-light-even, $yelo-list-color-light-odd);
    
    &:not(:last-child) {
      margin-bottom: 8px;
      // @include separate-bg-stripe;
      // border-top: 1px dotted $yelo-color-black;
    }
    // @include li-separate-color ($yelo-list-border-color-light-even, $yelo-list-border-color-light-odd);
  }
}

// ul.list-alternate > li {
//   @include li-alternate-color ($yelo-list-color-light-even, $yelo-list-color-light-odd);
// }

// ul.list-separate > li {
//   @include li-separate-color ($yelo-list-border-color-light-even, $yelo-list-border-color-light-odd);
// }

.block-quick {
  h3 {
    @include separate-bg-stripe;
    // display:inline-block;
    font-family: $openB;
    font-size: 20px;
  }
    i {
      background-image: find-img("bg-stripe.png");
      @include border-radius(50%);
      // font-size: 20px;
    }
  .btn {
    padding-right: 8px;
  }
  .content-quick {
    i {
      // font-size: 10px;
    }
  }
}

.block-primary,
.block-secondary {
  background-color: $yelo-color-white;
}





.block-primary {
  border-radius: 10px 0 0 0;
  color: $yelo-color-gray-hardest;
  font-family: $open;
  font-size: 14px;
  @include border-radius-bottom-left($yelo-border-radius);
  header.portlet-topper {
    border-radius: 10px 0 0 0;
  }
  header.corner {
    border-top: 4px solid $yelo-light-color;
    border-left: 4px solid $yelo-light-color;
  }
  h1.portlet-title {
    bottom: 1rem;
    font-family: $open;
    font-size: 26px;
    line-height: 1.5rem;
    margin: 0 0 0 20px;
    padding-bottom: 0px;
    padding-left: 4px;
    position: relative;
  }
  footer {
    background-color: $yelo-first-color;
    height: 30px;
    line-height: 2rem;
    position: relative;
    @include bg-stripe;
    @include border-radius-bottom-left($yelo-border-radius);
    @include padding-medium-block-width;
    a {
      font-size: 11px;
      text-transform: uppercase;
    }
    a.btn-yelo {
      background-color: $yelo-color-black;
      bottom: 0;
      color: $yelo-color-white;
      font-family: $openB;
      font-size: 18px;
      position: absolute;
      right: 20px;
      text-transform: none;
      @include padding-medium-block-width;
      @include padding-medium-block-height;
      @include border-radius-top($yelo-border-radius);
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.block-secondary {
  @include bg-stripe;
  @include border-radius($yelo-border-radius);
  h3 {
    color: $yelo-color-gray-hardest;
    font-family: $openB;
    font-size: 18px;
    margin-bottom: 0;
    @include padding-medium-block-width;
  // }

  // h3 {
    bottom: 20px;
    // left: -6px;
    padding: 0;
    position: relative;
  }

  p {
    @include padding-medium-block-height;
    @include padding-medium-block-width;
  }
  footer {
    background-color: $yelo-light-color;
    // border-top: 4px solid $yelo-color-white;
    line-height: 2rem;
    text-align: right;
    @include bg-stripe;
    @include border-radius-bottom-right($yelo-border-radius);
    @include padding-medium-block-width;

    a {
      display: block;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      color: $yelo-color-black;
      text-transform: uppercase;
      @media (min-width: 768px) {
        display: inline;
        font-size: 10px;
        text-align: inherit;
      }
    }
  }
}

.wrapper-tags {
  padding-top: $yelo-padding-large-block-height;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.tags {
  background-color: $yelo-first-color;
  font-size: 12px;
  margin-top: 12px;
  text-transform: uppercase;
  @include bg-stripe;
  @include padding-small-block-height;
  @include padding-small-block-width;
  @media (min-width: 768px) {
    margin-top: 0px;
  }
}

section {
  margin-bottom: 30px;
  margin-top: 30px;
  // border: 1px solid $yelo-light-color;
}

.bg-stripe {
  @include bg-stripe;
}

.search-travel {
  // background-color: $yelo-color-gray-lightest;
  // padding-left: 4px;
  // padding-right: 4px;
  > p {
    @include padding-medium-block-width;
  }
  div {
    // background-color: $yelo-color-white;
  }
}

.infos-trafic {
  // margin: 0;
  background-color: $yelo-color-gray-lightest;
  h3 {
    .fa-stack {
      color: $yelo-color-yellow;
      .fa-inverse {
        color: $yelo-color-black;
      }
    }
  }
  h4 {
    color: $yelo-color-gray-hardest;
    font-family: $openB;
    font-size: 14px;
  }
  // a {
  //   color: $yelo-color-black;
  //   text-decoration: none;
  // }
  section {
    margin: 0;
  }
  p {
    color: $yelo-color-gray-harder;
    font-family: $open;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}

.accounts {
  background-color: $yelo-color-gray-lightest;
  // h3 {
  //   bottom: 20px;
  //   left: -6px;
  //   padding: 0;
  //   position: relative;
  // }
  p {
    color: $yelo-color-gray-hardest;
    font-family: $open;
    font-size: 13px;
  }
  a {
  }
}

.news {
  background-color: $yelo-color-gray-lightest;
  h4 {
    color: $yelo-color-gray-hardest;
    font-family: $open;
    font-size: 16px;
  }
  p.teasing {
    color: $yelo-color-gray-harder;
    font-family: $open;
    font-size: 12px;
  }

}

#picto-bus {
  background: find-img("picto-bus.svg") no-repeat center center;
}

.teasing {
  // padding: 0;
  @include teasing;
}

.fa-facebook {
  color: $facebook-color;
}

.fa-rss {
  color: $rss-color;
}
