

// Portlet pour les liens directs collés aux services Compte Unique ------------------ //
#directs {

  background-color: $yelo-color-gray-lighter;

  margin-bottom: 0;
  margin-top: 0;
  @include border-radius-bottom-left($yelo-border-radius);

  // @media (min-width: 768px) {
  //   margin-bottom: 30px;
  //   margin-top: 30px;
  // }

  header {
    &:not(:first-child) {
      background-color: $yelo-color-white;
    }
    border: 0;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0;
    padding-left: 8px;
    padding-right: 8px;
    h4 {
      font-family: $title;
      margin-bottom: 0;
      margin-top: 0;
      @include padding-medium-block-height;
    }
  }

  .wrapper-links {
    // @include padding-medium-block-width;
    background-color: $yelo-color-white;
    margin-left: 4px;
    margin-right: 4px;
    // margin-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    ul {
      margin-bottom: 0px;
      li {
        @include padding-medium-block-height;

        &:not(:first-child) {
          border-top: 1px solid $yelo-color-gray-lighter;
        }
      }
    }
    a {
      font-family: $text-strong;
      font-size: 14px;
    }
  }

  // .services li {
  //   box-sizing: border-box;
  //   padding: 1em;
  //   margin: 0 auto;
  //   width: 25%;
    
  //   div.circle {
  //     float: left;
  //     line-height: 1em;
  //     margin-top: -0.5em;
  //     padding-top: 50%;
  //     text-align: center;
  //     width: 100%;
  //   }
  //   div.circle-img {
  //     background: $yelo-first-color;
  //     font-size: 2em;
  //     height: 0;
  //     padding-bottom: 100%;
  //     text-align: center;
  //     width: 100%;
  //     @include border-radius(50%);
  //   }
  //   div.circle-txt {
  //     font-family: $openB;
  //     font-size: 1rem;
  //     line-height: 1rem;
  //     padding-top: 0.4rem;
  //     text-align: center;
  //   }
  // }
  // a {

  // }
}


// ------------------ //
// ------------------ //
// ------------------ //
// ------------------ //
// ------------------ //








body {
  // background-color: green;
  background-color: $yelo-color-white;
  // background-color: $yelo-color-gray-lightest;
  // @include bg-stripe;
}

@media (max-width: 767px) {

  // Padding to set content in a bit
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#wrapper,
.footer-page .content {
  @include padding-medium-block-width;
}

.block-primary,
.block-quick {
  background-color: $yelo-color-white;
}



.footer-page {
  margin-top: 40px;

  .walk {
    background-image: find-img("bg-yelo-bike-walk.png");
    // background-repeat-x: repeat;
    background-repeat: no-repeat;
    background-position-x: right;
    height: 53px;
  }

  .demarcation {
    background-color: $yelo-color-gray-lighter;
    border-bottom: 1px solid $yelo-color-white;
    border-top: 1px solid $yelo-color-white;
    height: 8px;
  }

  .content {
    background-color: $yelo-color-gray-harder;
  }

  .container {
    
    color: $yelo-color-gray-lightest;
    // @include padding-medium-block-width;
    // @include padding-large-block-height;
    a {
      color: inherit;
      font-size: 11px;
      text-transform: uppercase;
    }
    address {
      font-size: 12px;
      text-align: right;
    }
    
  }

  // .fa {
  //   font-size: 14px;
  // }
  // .row > .span4 {
  //   border-right: 4px solid $yelo-color-gray-lightest;
  // }
}



.logo-cda {
  text-align: right;
}


ul.list-delimited-light {
  // margin: 0;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
  > li {
    @include padding-medium-block-width;
    @include padding-large-block-height;
    margin: 0;
    background-color: $yelo-color-white;
    // @include li-alternate-color ($yelo-list-color-light-even, $yelo-list-color-light-odd);
    
    &:not(:last-child) {
      margin-bottom: 8px;
      // @include separate-bg-stripe;
      // border-top: 1px dotted $yelo-color-black;
    }
    // @include li-separate-color ($yelo-list-border-color-light-even, $yelo-list-border-color-light-odd);
  }
}

// ul.list-alternate > li {
//   @include li-alternate-color ($yelo-list-color-light-even, $yelo-list-color-light-odd);
// }

// ul.list-separate > li {
//   @include li-separate-color ($yelo-list-border-color-light-even, $yelo-list-border-color-light-odd);
// }

.block-quick {
  h3 {
    @include separate-bg-stripe;
    // display:inline-block;
    font-family: $title;
    font-size: 20px;
  }
    i {
      background-image: find-img("bg-stripe.png");
      @include border-radius(50%);
      // font-size: 20px;
    }
  .btn {
    padding-right: 8px;
  }
  .content-quick {
    i {
      // font-size: 10px;
    }
  }
}

.block-primary,
.block-secondary {
  background-color: $yelo-color-white;
}





.block-primary {
  border-radius: 10px 0 0 0;
  color: $yelo-color-gray-hardest;
  font-family: $text;
  font-size: 14px;
  @include border-radius-bottom-left($yelo-border-radius);
  header.portlet-topper {
    border-radius: 10px 0 0 0;
  }
  header.corner {
    border-top: 4px solid $yelo-light-color;
    border-left: 4px solid $yelo-light-color;
  }
  h1.portlet-title {
    bottom: 1rem;
    font-family: $text;
    font-size: 26px;
    line-height: 1.5rem;
    margin: 0 0 0 20px;
    padding-bottom: 0px;
    padding-left: 4px;
    position: relative;
  }
  footer {
    background-color: $yelo-first-color;
    height: 30px;
    line-height: 2rem;
    position: relative;
    @include bg-stripe;
    @include border-radius-bottom-left($yelo-border-radius);
    @include padding-medium-block-width;
    a {
      font-size: 11px;
      text-transform: uppercase;
    }
    a.btn-yelo {
      background-color: $yelo-color-black;
      bottom: 0;
      color: $yelo-color-white;
      font-family: $text-strong;
      font-size: 18px;
      position: absolute;
      right: 20px;
      text-transform: none;
      @include padding-medium-block-width;
      @include padding-medium-block-height;
      @include border-radius-top($yelo-border-radius);
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.block-secondary {
  @include bg-stripe;
  @include border-radius($yelo-border-radius);
  h3 {
    color: $yelo-color-gray-hardest;
    font-family: $title;
    font-size: 18px;
    margin-bottom: 0;
    @include padding-medium-block-width;
  // }

  // h3 {
    bottom: 20px;
    // left: -6px;
    padding: 0;
    position: relative;
  }

  p {
    @include padding-medium-block-height;
    @include padding-medium-block-width;
  }
  footer {
    background-color: $yelo-light-color;
    // border-top: 4px solid $yelo-color-white;
    line-height: 2rem;
    text-align: right;
    @include bg-stripe;
    @include border-radius-bottom-right($yelo-border-radius);
    @include padding-medium-block-width;

    a {
      display: block;
      font-size: 16px;
      text-align: center;
      color: $yelo-color-black;
      text-transform: uppercase;
      @media (min-width: 768px) {
        display: inline;
        font-size: 10px;
        text-align: inherit;
      }
    }
  }
}

.wrapper-tags {
  padding-top: $yelo-padding-large-block-height;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.tags {
  background-color: $yelo-first-color;
  font-size: 12px;
  margin-top: 12px;
  text-transform: uppercase;
  @include bg-stripe;
  @include padding-small-block-height;
  @include padding-small-block-width;
  @media (min-width: 768px) {
    margin-top: 0px;
  }
}

section {
  margin-bottom: 30px;
  margin-top: 30px;
  // border: 1px solid $yelo-light-color;
}

.bg-stripe {
  @include bg-stripe;
}

.search-travel {
  // background-color: $yelo-color-gray-lightest;
  // padding-left: 4px;
  // padding-right: 4px;
  > p {
    @include padding-medium-block-width;
  }
  div {
    // background-color: $yelo-color-white;
  }
}

.accounts {
  background-color: $yelo-color-gray-lightest;
  // h3 {
  //   bottom: 20px;
  //   left: -6px;
  //   padding: 0;
  //   position: relative;
  // }
  p {
    color: $yelo-color-gray-hardest;
    font-family: $text;
    font-size: 13px;
  }
  a {
  }
}

.news {
  background-color: $yelo-color-gray-lightest;
  h4 {
    color: $yelo-color-gray-hardest;
    font-family: $title;
    font-size: 16px;
  }
  p.teasing {
    color: $yelo-color-gray-harder;
    font-family: $text;
    font-size: 12px;
  }

}

#picto-bus {
  background: find-img("picto-bus.svg") no-repeat center center;
}

.teasing {
  // padding: 0;
  @include teasing;
}

.fa-facebook {
  color: $facebook-color;
}

.fa-rss {
  color: $rss-color;
}
