/*-------------------------------------------------------------
Custom Fonts
---------------------------------------------------------------*/

@font-face {
    font-family: 'open_sansbold';
    src: url('../font/opensans-bold-webfont.eot');
    src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-bold-webfont.woff2') format('woff2'),
         url('../font/opensans-bold-webfont.woff') format('woff'),
         url('../font/opensans-bold-webfont.ttf') format('truetype'),
         url('../font/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff2') format('woff2'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/********************/
/*     POLICES      */
/********************/
// $openB: 'open_sansbold', Arial, Helvetica, sans-serif;
// $open: 'open_sansregular', Arial, Helvetica, sans-serif;
$title: 'open_sansbold', Arial, Helvetica, sans-serif;
$text: 'open_sansregular', Arial, Helvetica, sans-serif;
$text-strong: 'open_sansbold', Arial, Helvetica, sans-serif;
