
#mb-iti-search-form {
  font-family: $text;
  overflow: hidden;
  white-space: nowrap;
  p {

  }
}


.mb-result-head-1,
#mb-pagin-top h3 {
  color: $yelo-color-gray-normal;
  display: none;
  font-family: $title;
}
.mb-bloc-inline-fields {
  font-family: $text-strong;
  font-size: calculate-rem(13px);
  text-transform: capitalize;

  @media (min-width: 768px) {
    select {
      width: 120px;
    }
    #time {
      .select-1, .select-2 {
        display: inline-block;
      }
    }
  }
}

.mandatory {
  color: $yelo-color-red;
}

.mb-bloc-submit {
  @include padding-large-block-height;
  text-align: center;
}

// #mb-iti-search-btn {
.mb-line-button {

  background-color: $yelo-color-black;
  color: $yelo-color-gray-lighter;
  

  
  display: block;
  @media (min-width: 768px) {
    display: inline-block;
  }
  

  text-transform: none;
  @include padding-medium-block-width;
  @include padding-medium-block-height;
  @include border-radius($yelo-border-radius);
  line-height: 28px;
  #mb-iti-search-btn, .mb-link {
    background-color: $yelo-color-black;
    border: 0;
    color: $yelo-color-white;
    font-family: $text-strong;
    font-size: calculate-rem(18px);
    padding: 0;
  }
}

.mb-line-button {
  @include font-awesome($fa-var-search, $yelo-color-white, 18px, 10px);
  &:before {
    display: inline;
    padding-right: 0;
  }
}

#mb-block {
	legend {
    border-bottom: 0px;
    font-family: $text-strong;
    font-size: calculate-rem(16px);
    line-height: calculate-rem(40px);
    @include separate-bg-stripe;
  }
  label {
    color: #717171;
    font-family: $text-strong;
    font-size: calculate-rem(12px);
    font-style: italic;
    line-height: 0.8rem;
  }
}

.mandatory-info {
  color: #717171;
  font-family: $text;
  font-size: calculate-rem(12px);
  font-style: italic;
  line-height: calculate-rem(12px);
}

#mb-resume-content {
  ul {
    @include list-unstyled;
  }
}

ul#mb-search-results-list,
ul#mb-resume,
ul.mb-results-infos,
ul.mb-results-modes,
ul.mb-results-misc {
  @include list-unstyled;
  color: $yelo-color-gray-harder;
  font-family: $text;
  font-size: calculate-rem(13px);
  span {
    color: $yelo-color-gray-hardest;
    font-family: $text-strong;
  }
}

#mb-search-results-block-list {
  padding-bottom: 80px;
  position: relative;
  #mb-pagin-top {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 24px;
    a {
      background-color: $yelo-second-color;
      background-image: find-img("bg-stripe.png");
      display: block;
      font-family: $text-strong;
      font-size: 16px;
      width: 100%;
      @include padding-medium-block-width;
      @include padding-medium-block-height;
      margin-bottom: 16px;
    }
    .mb-results-list-next {
      text-align: right;
    }
  }
  h2, h3 {
    color: $yelo-color-black;
    font-family: $title;
    @include padding-medium-block-width;
  }
  h2 {
    background-color: $yelo-first-color;
    background-image: find-img("bg-stripe.png");
    font-size: calculate-rem(22px);
  }
}


ul#mb-search-results-list {
  height: auto;
  li.mb-search-result {
    background-color: $yelo-color-gray-lightest;
    background-image: find-img("bg-stripe.png");
    margin-bottom: 24px;
    @include padding-medium-block-width;
    @include padding-medium-block-height;
    ul.mb-results-modes {
      li.mb-mode {
        display: inline-block;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}

.mb-mode span {
  background-color: $yelo-first-color;
  padding-right: 4px;
  margin-right: 4px;
}

.mb-mode-bus,
.mb-mode-Train,
.mb-mode-bus,
.mb-mode-bus,
.mb-mode-bus {
  &:before {
    font: normal normal normal 14px FontAwesome;
    padding-left: 4px;
    padding-right: 4px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;  
  }
}
.mb-mode-bus {
  &:before {
    content: "\f207"; 
  }
}
.mb-mode-Train {
  &:before {
    content: "\f238"; 
  }
}

li.mb-mode {
  &:not(:last-child) {
    &:after {
      @include font-awesome($fa-var-chevron-right, $yelo-color-red, 14px, 4px);
    }
  }
}

.mb-results-goto,
.mb-result-actions {
  background-color: $yelo-color-black;
  font-family: $text-strong;
  font-size: calculate-rem(16px);
  text-align: center;
  @include padding-medium-block-width;
  @include padding-medium-block-height;
  a {
    color: $yelo-color-white;
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: $yelo-color-gray-normal;
    }
  }
}


/********************/
/* Ajout des icônes par défaut
/********************/
#mb-results-infos-hourdeparture,
#mb-resume-departure {
  span:first-child {
    @include font-awesome($fa-var-flag-checkered, $yelo-color-red, 18px, 10px);
  }
}
#mb-results-infos-hourarrival,
#mb-resume-arrival {
  span:first-child {
    @include font-awesome($fa-var-flag, $yelo-color-green, 18px, 10px);
  }
}
#mb-results-infos-totalduration {
  span {
    @include font-awesome($fa-var-clock-o, $yelo-color-black, 18px, 10px);
  }
}
#mb-departure-field {
  legend {
    @include font-awesome($fa-var-flag, $yelo-color-green, 18px, 10px);
  }
}
#mb-destination-field {
  legend {
    @include font-awesome($fa-var-flag-checkered, $yelo-color-red, 18px, 10px);
  }
}





@media (min-width: 768px) {

  #mb-departure-field,
  #mb-destination-field,
  #mb-iti-bloc-details > fieldset {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

}

