

.mb-result-head-1,
#mb-pagin-top h3 {
  color: $yelo-color-gray-normal;
  display: none;
  font-family: $open;
}
.mb-bloc-inline-fields {
  font-family: $openB;
  font-size: 13px;
  text-transform: capitalize;
}

.mb-bloc-submit {
  @include padding-large-block-height;
  text-align: center;
}

// #mb-iti-search-btn {
.mb-line-button {

  background-color: $yelo-color-black;

  

  
  display: block;
  
  
  // position: absolute;
  // right: 20px;
  text-transform: none;
  @include padding-medium-block-width;
  @include padding-medium-block-height;
  @include border-radius($yelo-border-radius);

  // &:hover {
  //   text-decoration: none;
  // }
  line-height: 28px;
  
  // width: 100%;

  #mb-iti-search-btn {
    background-color: $yelo-color-black;
    border: 0;
    color: $yelo-color-white;
    font-family: $openB;
    font-size: 18px;
    padding: 0;
  }
}

.mb-line-button {
  @include font-awesome($fa-search, $yelo-color-white);
  &:before {
    display: inline;
    padding-right: 0;
  }
}

#mb-block {
	legend {
    border-bottom: 0px;
    font-family: $openB;
    font-size: 1rem;
    line-height: 2.5rem;
    // height: 60px;
    @include separate-bg-stripe;
  }
  label {
    color: #717171;
    font-family: $openB;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 0.8rem;
  }
}

#mb-resume-content {
  ul {
    @include list-unstyled;
  }
}

ul#mb-search-results-list,
ul#mb-resume,
ul.mb-results-infos,
ul.mb-results-modes,
ul.mb-results-misc {
  @include list-unstyled;
  color: $yelo-color-gray-harder;
  font-family: $open;
  font-size: 13px;
  span {
    color: $yelo-color-gray-hardest;
    font-family: $openB;
  }
}

#mb-search-results-block-list {
  padding-bottom: 80px;
  position: relative;
  #mb-pagin-top {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 24px;
    a {
      background-color: $yelo-second-color;
      background-image: image-url("bg-stripe.png");
      display: block;
      font-family: $openB;
      font-size: 16px;
      width: 100%;
      @include padding-medium-block-width;
      @include padding-medium-block-height;
      margin-bottom: 16px;
    }
    .mb-results-list-next {
      text-align: right;
      // right: 0;
    }
  }
  h2, h3 {
    color: $yelo-color-black;
    font-family: $open;
    @include padding-medium-block-width;
  }
  h2 {
    background-color: $yelo-first-color;
    background-image: image-url("bg-stripe.png");
    font-size: 22px;
  }
}


ul#mb-search-results-list {
  li.mb-search-result {
  @include padding-medium-block-width;
  @include padding-medium-block-height;
    background-color: $yelo-color-gray-lightest;
    background-image: image-url("bg-stripe.png");
    // border: 1px dotted $yelo-color-gray-harder;
    margin-bottom: 24px;
    // @include li-alternate-color($yelo-list-color-light-even, $yelo-list-color-light-odd);

    ul.mb-results-modes {
      li.mb-mode {
        display: inline-block;
      }
    }
    ul.mb-results-infos {
      
    }
    p {
      margin-bottom: 0;
    }
  }
}

.mb-mode span {
  background-color: $yelo-first-color;
  padding-right: 4px;
  margin-right: 4px;
}

.mb-mode-bus,
.mb-mode-Train,
.mb-mode-bus,
.mb-mode-bus,
.mb-mode-bus {
  &:before {
    font: normal normal normal 14px FontAwesome;
    padding-left: 4px;
    padding-right: 4px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;  
  }
}
.mb-mode-bus {
  &:before {
    content: "\f207"; 
  }
}
.mb-mode-Train {
  &:before {
    content: "\f238"; 
  }
}

li.mb-mode {
  &:not(:last-child) {
    // background-color: pink;
    &:after {
      font: normal normal normal 14px FontAwesome;
      padding-left: 4px;
      padding-right: 4px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\f054";
    }
  }
}

.mb-results-goto,
.mb-result-actions {
  background-color: $yelo-color-black;
  font-family: $openB;
  font-size: 16px;
  text-align: center;
  @include padding-medium-block-width;
  @include padding-medium-block-height;
  a {
    color: $yelo-color-white;
    display: inline-block;
    text-decoration: none;
    &:hover {
      // background-color: $yelo-color-gray-lighter;
      color: $yelo-color-gray-normal;
    }
  }
}

#mb-results-infos-hourdeparture,
#mb-resume-departure {
  span:first-child {
    @include font-awesome($fa-flag-checkered, $yelo-color-red);
  }
}

#mb-results-infos-hourarrival,
#mb-resume-arrival {
  span:first-child {
    @include font-awesome($fa-flag, $yelo-color-green);
  }
}

#mb-results-infos-totalduration {
  span {
    @include font-awesome($fa-clock-o, $yelo-color-black);
  }
}

#mb-resume-content {
  // background-color: red;
}

#mb-departure-field {
  legend {
    @include font-awesome($fa-flag, $yelo-color-green);
  }
}

#mb-destination-field {
  legend {
    @include font-awesome($fa-flag-checkered, $yelo-color-red);
  }
}