/********************/
/*     MIXINS      */
/********************/

// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin border-radius-top($radius) {

}
@mixin border-radius-top($radius) {
  @include border-radius-top-left($radius);
  @include border-radius-top-right($radius);
}
@mixin border-radius-bottom($radius) {
  @include border-radius-bottom-left($radius);
  @include border-radius-bottom-right($radius);
}
@mixin border-radius-top-left($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}
@mixin border-radius-top-right($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}
@mixin border-radius-bottom-left($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-radius-bottom-right($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}



@mixin bg-stripe-darker {
  background-image: find-img("bg-stripe-darker.png");
}

@mixin teasing {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin separate-bg-stripe {
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-position-y: bottom;
  @include bg-stripe-darker;
}

@mixin list-unstyled {
  margin-left: 0;
  list-style: none;
}

// @mixin font-awesome($icon, $color) {
//   &:before {
//     color: $color;
//     content: $icon;
//     font: normal normal normal 18px FontAwesome;
//     padding-right: 10px;
//     text-rendering: auto;
//     -webkit-font-smoothing: antialiased;
//   }
// }

@mixin font-awesome($icon, $color, $size, $padding) {
  &:before {
    color: $color;
    content: $icon;
    font: normal normal normal $size FontAwesome;
    padding-right: $padding;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin li-alternate-color ($color-even, $color-odd) {
  &:nth-child(even) {
    background-color: $color-even;
  }
  &:nth-child(odd) {
    background-color: $color-odd;
  }
}

@mixin li-separate-color ($color-even, $color-odd) {
  &:nth-child(even) {
    border-bottom: 1px solid $color-even;
  }
  &:nth-child(odd) {
    border-bottom: 1px solid $color-odd;
  }
}


/********************/
/*     PADDINGS
/********************/

@mixin padding-block-width($size) {
  padding-left: $size;
  padding-right: $size;
}
@mixin padding-block-height($size) {
  padding-bottom: $size;
  padding-top: $size;
}

@mixin padding-small-block-width {
  @include padding-block-width($yelo-padding-small-block-width);
}
@mixin padding-small-block-height {
  @include padding-block-height($yelo-padding-small-block-height);
}

@mixin padding-medium-block-width {
  @include padding-block-width($yelo-padding-medium-block-width);
}
@mixin padding-medium-block-height {
  @include padding-block-height($yelo-padding-medium-block-height);
}

@mixin padding-large-block-width {
  @include padding-block-width($yelo-padding-large-block-width);
}
@mixin padding-large-block-height {
  @include padding-block-height($yelo-padding-large-block-height);
}

/********************/
/*     MARGINS
/********************/

@mixin margin-block-width($size) {
  margin-left: $size;
  margin-right: $size;
}
@mixin margin-block-height($size) {
  margin-bottom: $size;
  margin-top: $size;
}

@mixin margin-small-block-width {
  @include margin-block-width($yelo-margin-small-block-width);
}
@mixin margin-small-block-height {
  @include margin-block-height($yelo-margin-small-block-height);
}

@mixin margin-medium-block-width {
  @include margin-block-width($yelo-margin-medium-block-width);
}
@mixin margin-medium-block-height {
  @include margin-block-height($yelo-margin-medium-block-height);
}

@mixin margin-large-block-width {
  @include margin-block-width($yelo-margin-large-block-width);
}
@mixin margin-large-block-height {
  @include margin-block-height($yelo-margin-large-block-height);
}

/********************/
/*     OPACITY
/********************/

@mixin opacity($opacity) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}



/********************/
/*     BACKGROUNDS
/********************/

@mixin bg-stripe {
  background-image: find-img("bg-stripe.png");
}

@mixin bg-color-stripe($color) {
  background-color: $color;
  @include bg-stripe;
}

@mixin first-color-stripe {
  @include bg-color-stripe($yelo-first-color);
}

@mixin second-color-stripe {
  @include bg-color-stripe($yelo-second-color);
}
