/********************/
/*     MIXINS      */
/********************/

// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin border-radius-top($radius) {

}
@mixin border-radius-top($radius) {
  @include border-radius-top-left($radius);
  @include border-radius-top-right($radius);
}
@mixin border-radius-bottom($radius) {
  @include border-radius-bottom-left($radius);
  @include border-radius-bottom-right($radius);
}
@mixin border-radius-top-left($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}
@mixin border-radius-top-right($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}
@mixin border-radius-bottom-left($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-radius-bottom-right($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}

@mixin bg-stripe {
  background-image: image-url("bg-stripe.png");
}

@mixin list-unstyled {
  margin-left: 0;
  list-style: none;
}

@mixin font-awesome($icon, $color) {
  &:before {
    color: $color;
    content: $icon;
    font: normal normal normal 18px FontAwesome;
    padding-right: 10px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin li-alternate-color ($color-even, $color-odd) {
  &:nth-child(even) {
    background-color: $color-even;
  }
  &:nth-child(odd) {
    background-color: $color-odd;
  }
}

@mixin li-separate-color ($color-even, $color-odd) {
  &:nth-child(even) {
    border-bottom: 1px solid $color-even;
  }
  &:nth-child(odd) {
    border-bottom: 1px solid $color-odd;
  }
}

@mixin padding-small-block-width {
  padding-left: $yelo-padding-small-block-width;
  padding-right: $yelo-padding-small-block-width;
}
@mixin padding-small-block-height {
  padding-bottom: $yelo-padding-small-block-height;
  padding-top: $yelo-padding-small-block-height;
}

@mixin padding-medium-block-width {
  padding-left: $yelo-padding-medium-block-width;
  padding-right: $yelo-padding-medium-block-width;
}
@mixin padding-medium-block-height {
  padding-bottom: $yelo-padding-medium-block-height;
  padding-top: $yelo-padding-medium-block-height;
}

@mixin padding-large-block-width {
  padding-left: $yelo-padding-large-block-width;
  padding-right: $yelo-padding-large-block-width;
}
@mixin padding-large-block-height {
  padding-bottom: $yelo-padding-large-block-height;
  padding-top: $yelo-padding-large-block-height;
}

// @mixin opacity($opacity) {
//   opacity: $opacity / 100;
//   filter: alpha(opacity=$opacity);
// }