/********************/
/*     COULEURS
/********************/
$yelo-color-white: #FFFFFF;
$yelo-color-black: #000000;
$yelo-color-yellow: #FFDD00;
$yelo-color-green: #388E3C;
$yelo-color-red: #C62828;
// Les gris "souris"
$yelo-color-gray-lightest: #F3F3F3;
$yelo-color-gray-lighter: #E5E5E5;
$yelo-color-gray-normal: #777777;
$yelo-color-gray-harder: #494949;
$yelo-color-gray-hardest: #333333;
//
$yelo-color-gray-blue-annex: $color-blue-1;
$color-blue-1: #a6c4d7; 
$color-blue-2: #94b3c7;
$color-blue-3: #94b3c7;

//
$yelo-first-color: $yelo-color-yellow;
$yelo-second-color: $yelo-color-gray-blue-annex;
$yelo-light-color: $yelo-color-gray-lightest;


$yelo-border-radius: 12px;

$yelo-list-color-light-even: $yelo-color-white;
$yelo-list-color-light-odd: $yelo-color-gray-lightest;
$yelo-list-border-color-light-even: $yelo-color-gray-lightest;
$yelo-list-border-color-light-odd: $yelo-color-gray-normal;


$facebook-color: #3B5998;
$rss-color: #F26522;





$baseFontSize: 16px;

/********************/
/*     SURCHARGES BOOTSTRAP
/********************/
$baseFontFamily: $text !default;
$linkColor: $yelo-color-black;
// $headingsColor: green;


$yelo-padding-small-block-width: 6px;
$yelo-padding-small-block-height: 2px;
$yelo-padding-medium-block-width: 12px;
$yelo-padding-medium-block-height: 4px;
$yelo-padding-large-block-width: 12px;
$yelo-padding-large-block-height: 12px;

$yelo-margin-small-block-width: 6px;
$yelo-margin-small-block-height: 2px;
$yelo-margin-medium-block-width: 12px;
$yelo-margin-medium-block-height: 4px;
$yelo-margin-large-block-width: 12px;
$yelo-margin-large-block-height: 12px;


$fa-angle-right: "\f105";
$fa-bookmark: "\f02e";
$fa-caret-down: "\f0d7";
$fa-caret-left: "\f0d9";
$fa-caret-up: "\f0d8";
$fa-caret-right: "\f0da";
$fa-clock-o: "\f017";
$fa-info-circle: "\f05a";
$fa-history: "\f1da";
$fa-flag: "\f024";
$fa-flag-checkered: "\f11e";
$fa-flag-o: "\f11d";
$fa-search: "\f002";
$fa-user: "\f007";
$fa-warning: "\f071";